.header__appBar {
  background-color: transparent !important;
  color: black !important;
  box-shadow: none !important;
}

.header__toolbar {
  justify-content: space-between;
  padding: 20px;
}

.header__title  {
  text-transform: uppercase;
}

.header__navLinks {
  display: flex;
  transition: transform ease-in 0.4s;
}

.header__navLinks > a {
  padding: 10px;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  text-transform: uppercase;
  transition: all ease 0.4s;
}

.header__navLinks > a:hover {
  background-color: #a9ddd6;
  border-radius: 10px;
  transform: scale(1.02);
}

.header__menuToggle {
  visibility: hidden;
}

.header__menuToggle .MuiSvgIcon-root {
  font-size: 2.1rem !important;
  color: #a9ddd6 !important;
}

.header__closeMobileMenu {
  display: none !important;
}

@media only screen and (max-width: 648px) {
  .header__navLinks {
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    padding: 25px;
    background-color: white;
    opacity: 0;
    pointer-events: none;
    height: 0;
    visibility: hidden;
    transition: all ease-in-out 0.3s;
  }

  .header__navLinks.show {
    height: 100vh;
    visibility: visible;
    pointer-events: all;
    opacity: 1;
    z-index: 99;
  }

  .header__closeMobileMenu {
    display: flex !important;
    align-self: flex-end;
  }

  .header__closeMobileMenu .MuiSvgIcon-root {
    color: #a9ddd6 !important;
  }

  .header__menuToggle {
    visibility: visible;
  }
}

@media only screen and (min-width: 0px) and (orientation: landscape) {
  .MuiToolbar-regular {
    min-height: 64px !important;
  }
}
