.basketItem {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid lightgray;
  margin: 10px;
}

.basketItem > img {
  object-fit: cover;
  width: 80px;
  height: 100px;
  margin-right: 25px;
  border-radius: 10px;
  box-shadow: 0 0 15px 1px rgba(181, 181, 181, 0.6);
  transition: all ease 0.4s;
  cursor: pointer;
}

.basketItem > img:hover {
  transform: scale(1.04);
}

.basketItem__info {
  display: flex;
  align-items: flex-end;
  flex: 1;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
}

.basketItem__category {
  font-size: 14px;
  color: grey;
  text-transform: uppercase;
  text-align: right;
}
