.app {
  height: 100vh;
}

.app__introHeadline {
  padding: 15px 20px;
}

.app__introHeadline > p {
  margin-top: 10px;
  line-height: 24px;
  text-align: justify;
}

.app__products {
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.app__container {
}
